{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block title %}Article Index{% endblock %}

{% block body %}
    <div class="container w-25 mx-auto"><h1 class="article">Article index</h1></div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                  <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                  <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
</section>


      
        {% for article in articles %}
        <section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ article.title }}</p>
                <p><span class="text-muted">id: </span>{{ article.id }}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <p>{{ article.content }}<p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a><br>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}
                
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_article_new') }}">Create new</a>
    {% endif %}
{% endblock %}
